.header
  %ul.header__title-lists
    %li.title-list
      = link_to '#', class: "home-link" do
        = icon('fab', 'youtube',class: 'youtube-icon')
        %p.title
          YOUREVI
    %li.title-list
      %p.sub-title
        \- ユーレビ -
        -# %br 
        -# YouTuberレビュー
  .form
    -# = form_with url: users_path do |f|
  %ul.header__lists
    %li.list
      %a.post{href: "#"}
        = icon('fas', 'edit',class: 'post-icon')
        %p 投稿
    %li.list
      %a.my-page{href: "#"}
        = icon('fas', 'user',class: 'user-icon')
        %p ユーザー名

-# %li.tag
  -#       %a.link{href: "#"} #投資