.contents
  -# .tag-header
  -#   %ul.genre-tags
  -#     %li.tag
  -#       %a.link{href: "#"} #料理
  -#     %li.tag
  -#       %a.link{href: "#"} #音楽
  -#     %li.tag
  -#       %a.link{href: "#"} #ビジネス
  -#     %li.tag
  -#       %a.link{href: "#"} #スポーツ
  -#     %li.tag
  -#       %a.link{href: "#"} #プログラミング
  -#     %li.tag
  -#       %a.link{href: "#"} #釣り
  -#     %li.tag
  -#       %a.link{href: "#"} #ダイエット
  -#     %li.tag
  -#       %a.link{href: "#"} #メイク
  -#     %li.tag
  -#       %a.link{href: "#"} #ファッション
  -#     %li.tag
  -#       %a.link{href: "#"} #お笑い
  -#     %li.tag
  -#       %a.link{href: "#"} #ダンス
  -#     %li.tag
  -#       %a.link{href: "#"} #投資
  #home.big-bg
    .home-content
      -# %h2.page-name YOUREVI - ユーレビ -
      %h2.page-title Support your passion
      %p.page-sub-title あなたを支えるYouTubeクリエイターをプレゼンしませんか？ YouTuber応援コミュニティ。
      %a.button{href: "#"} プレゼンする
  .post-content
    .hot-news
      %a.hot-news__link{href: "#"} #Stay Home　お家時間を有効活用！フィットネスから自己啓発まで。 ＞
    .btn-group{"aria-label": "Basic example", role: "group"}
      %a.btn.page-link.text-dark.d-inline-block{href: "#", type: "button"} 人気
      %a.btn.page-link.text-dark.d-inline-block{href: "#", type: "button"} 新着
    %article.main
      .posts
        .post-box
          %a.post-link{href: "#"} 
            .upper-info
              .post-title{href: "#"} やっぱりこの人！大人気YouTuber
              .youtuber-name ヒカキン
            .lower-info
              .favorite-count ♡ 16
              .user-name taro
          -# .date
          -#   = "%Y年%m月%d日 %H時%M分"
        .post-box
          %a.post-link{href: "#"} 
            .upper-info
              .post-title やっぱりこの人！大人気YouTuber
              .youtuber-name ヒカキン
            .lower-info
              .favorite-count ♡ 16
              .user-name taro
        .post-box
          %a.post-link{href: "#"} 
            .upper-info
              .post-title やっぱりこの人！大人気YouTuber
              .youtuber-name ヒカキン
            .lower-info
              .favorite-count ♡ 16
              .user-name taro
        .post-box
          %a.post-link{href: "#"} 
            .upper-info
              .post-title やっぱりこの人！大人気YouTuber
              .youtuber-name ヒカキン
            .lower-info
              .favorite-count ♡ 16
              .user-name taro
        .post-box
          %a.post-link{href: "#"} 
            .upper-info
              .post-title やっぱりこの人！大人気YouTuber
              .youtuber-name ヒカキン
            .lower-info
              .favorite-count ♡ 16
              .user-name taro
      %aside.side-bar
        %h3.sub-title 人気タグ
        %ul.sub-menu
          %li.tags
            %a.tag{href: "#"} フィットネス
          %li.tags
            %a.tag{href: "#"} お笑い
          %li.tags
            %a.tag{href: "#"} プログラミング
          %li.tags
            %a.tag{href: "#"} 料理
          %li.tags
            %a.tag{href: "#"} メイク
        %h3.sub-title サイトについて
        %p
          Youtubeクリエイターやおすすめの動画をシェアできるコミュニティサイトです。
          あなたをエンパワーメントするクリエイターに出会えるかもしれません。
